$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$navbar-inverse-link-color:                 #eee !default;
$gray-light:             lighten(#000, 60%) !default;   // #999
$navbar-inverse-link-hover-color:           $gray-light !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

@import 'sass-bootstrap/lib/bootstrap';
@import url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Dr+Sugiyama);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

$navbar-height: 50px;
.navbar {
    background: #333!important;
    margin-bottom: -1*$navbar-height;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    z-index:9999;
    min-height: 41px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 5px 0 #111;
}

#header-container{
    height:517px;
    padding-top: 170px;
    font-family: 'Antic Didone', serif;
}

$margin-size: 60px;
.container{
    padding-left: $margin-size !important;
    padding-right: $margin-size !important;
}

section{
    margin-bottom: 30px;
    margin-top: -1*$navbar-height;
    padding-top: $navbar-height;
}

.footer{
    margin-top: 20px;
}

.footer p{
    margin-left: 30px;
}

div.article{
    text-align:justify;
}

div.row{
    margin-top: 10px;
}

body {
    background: #F7F5F5 url(../images/fondPapier.png);
}

div.texte {
    font-size: 16px;
}

nav li {
    cursor: pointer;
}

p {
    margin: 0 0 20px;
}

#navbar {
    margin-bottom: 30px;
}

.banner {
  background: #000;
}

.banner img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: $screen-xs-min) {
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

div.medaillon {
    margin-left:30px;
    margin-bottom:20px;
}

p.asterisque {
    font-size: 10px;
}

div.etape {
    font-size: 80%;
}

.panel-title {
    font-size: 15px;
    font-weight: bold;
}

.fairePart {
    max-width:750px;
}

.navbar-brand {
    padding: 0 !important;
}

$nav-height:60px;
.navbar-nav > li > a {
    padding-top:$nav-height/2 !important;
    padding-bottom:$nav-height/2 !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background: none !important;
}

a.navbar-brand {
    padding-top: 5px !important;
}