$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

$navbar-inverse-link-color:                 #eee !default;
$gray-light:             lighten(#000, 60%) !default;   // #999
$navbar-inverse-link-hover-color:           $gray-light !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;
$rose:#ed217c;

@import 'sass-bootstrap/lib/bootstrap';
@import url(http://fonts.googleapis.com/css?family=Bad+Script);
@import url(http://fonts.googleapis.com/css?family=Dr+Sugiyama);

@font-face {
  font-family: 'ChunkFive';
    src: url('fonts/Chunkfive.eot');
    src: local('☺'), url('/fonts/Chunkfive.woff') format('woff'), url('/fonts/Chunkfive.otf') format('opentype'), url('/fonts/Chunkfive.ttf') format('truetype'), url('/fonts/Chunkfive.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

$navbar-height: 50px;
.navbar {
    background: #333!important;
    margin-bottom: -1*$navbar-height;
    top: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    border-width: 0 0 1px;
    z-index:9999;
    min-height: 41px;
}

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar.affix {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 5px 0 #111;
}

#header-container{
    height:517px;
    padding-top: 170px;
    font-family: 'Antic Didone', serif;
}

$margin-size: 60px;
.container{
    padding-left: $margin-size !important;
    padding-right: $margin-size !important;
}

section{
    margin-bottom: 30px;
    margin-top: -1*$navbar-height;
    padding-top: $navbar-height;
}

.footer{
    margin-top: 20px;
}

.footer p{
    margin-left: 30px;
}

div.article{
    text-align:justify;
}

div.row{
    margin-top: 10px;
}

body {
    background: #F7F5F5 url(../images/fondPapier.png);
}

div.texte {
    font-size: 16px;
}

nav li {
    cursor: pointer;
}

p {
    margin: 0 0 20px;
}

#navbar {
    margin-bottom: 30px;
}

.banner {
  background: #000;
}

.banner img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: $screen-xs-min) {
    .navbar-nav{
        margin: 0 auto;
        display: table;
        table-layout: fixed;
        float:none;
    }
}

div.medaillon {
    margin-left:30px;
    margin-bottom:20px;
}

p.asterisque {
    font-size: 13px;
}

div.etape {
    font-size: 80%;
}

.panel-title {
    font-size: 15px;
    font-weight: bold;
}

.fairePart {
    max-width:750px;
}

.navbar-brand {
    padding: 0 !important;
}

@media (min-width: $screen-sm-min) {
    $nav-height:60px;
    $padding:$nav-height/2;
    .navbar-nav > li > a {
        padding-top:$padding;
        padding-bottom:$padding/2;
    }
    $offset:5px;
    $paddingTopHover:$padding - $offset;
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        padding-top:$paddingTopHover !important;
    }
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #ed217c !important;
        text-shadow: 0px 0px 5px $rose;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
        background: none !important;
    }
    div#logo {
        font-size:28px;
    }
    div#logo > .prenom {
        top:6px;
    }
    div#logo > .nom {
        top:26px;
        left:-10px;
    }
}

a.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar-inverse .navbar-nav > li > a {
    -webkit-transition-property: color, text-shadow, padding-top;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-property: color, text-shadow, padding-top;
    -moz-transition-duration: 0.3s;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-property: color, text-shadow, padding-top;
    -o-transition-duration: 0.3s;
    -o-transition-timing-function: ease-in-out;
    -ms-transition-property: color, text-shadow, padding-top;
    -ms-transition-duration: 0.3s;
    -ms-transition-timing-function: ease-in-out;
    transition-property: color, text-shadow, padding-top;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    text-transform: uppercase;
}

@media (max-width: $screen-sm-max) {
    .navbar-inverse .navbar-nav > li > a {
        font-size:80%;
    }
    div#logo {
        font-size:20px;
    }
    div#logo > .prenom {
        top:8px;
    }
    div#logo > .nom {
        top:21px;
        left:-7px;
    }
}

/* Logo */
div#logo {
    font-family: ChunkFive, serif;
    color:$rose;
}
div#logo > div {
    position: relative;
    float:left;
}
