<div class="container texte">
  <div class="row">
    <div class="col-md-12 article">
      <p>
        <strong>Vous vous mariez ? Vous organisez une baby-shower ou un baptême ? Vous préparez votre anniversaire ou tout autre événement … ?</strong>
      </p>
      <p>
        Mais vous ne parvenez pas à trouver une idée originale pour vos invitations.
      </p>
      <p>
        Je crée pour vous et à votre image des illustrations qui vous ressemblent.
      </p>
      <p>
        Pour cela, il vous suffit de choisir un thème ou une mise en scène et de me faire parvenir une photo de la ou les personnes à représenter.
      </p>
      <p>
        Je réalise pour vous des illustrations uniques et personnalisées qui apporteront à votre invitation une touche artistique.
      </p>
    </div>
  </div>
</section>
</div>