<div class="container">
	<div class="fairePart">
		<h4 class="text-center">Mariage de Jean et Elodie<h4>
		<flex-slider slide="s in slidesJeanElodie" animation="slide" slideshow="false">
			<li>
				<img ng-src="images/{{s}}">
			</li>
		</flex-slider>
	</div>
	<div class="fairePart">
		<h4 class="text-center">Mariage de Kevin et Noémie<h4>
		<flex-slider slide="s in slidesKevinNoemie" animation="slide" slideshow="false">
			<li>
				<img ng-src="images/{{s}}">
			</li>
		</flex-slider>
	</div>
</div>
