<div class="container texte">
  <div class="row">
    <div class="col-md-12 article">
      <p>Bienvenue,<br/><br/></p>
      <p>Vous vous mariez,</p>
      <p>Vous organisez une baby-shower ou un baptême,</p>
      <p>Vous préparez votre anniversaire ou tout autre événement...</p>
      <p>Mais vous ne parvenez pas à trouver une idée originale pour vos invitations ?<br/><br/></p>
      <p><strong>Je crée pour vous et à votre image des illustrations qui vous ressemblent.</strong><br/><br/></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Etape 1</h3>
        </div>
        <div class="panel-body">
          Nous définissons ensemble un projet à partir des personnages à illustrer et du choix de mise en scène.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Etape 2</h3>
        </div>
        <div class="panel-body">
          Vous me faites parvenir des photographies des protagonistes à représenter afin que je puisse créer des illustrations les plus fidèles possibles.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Etape 3</h3>
        </div>
        <div class="panel-body">
          Je réalise le projet que nous avons prédéfini ensemble.
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Etape 4</h3>
        </div>
        <div class="panel-body">
          Je soumets à votre approbation ma réalisation et apporte si nécessaire les dernières modifications.
        </div>
      </div>
      <p><br/></p>
      <p><strong>Vous aurez en votre possession des illustrations uniques et personnalisées qui apporteront à votre invitation une touche artistique.</strong><br/><br/></p>
      <p>Très bonne visite !</p>
    </div>
  </div>
</section>
</div>