<div class="container texte">
	<div class="row">
		<div class="col-md-12">
			<p class="titre text-center">Formules</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="tarif in tarifs">
			<div class="panel panel-default text-center">
				<div class="panel-heading">
					<h3 class="panel-title"><strong ng-bind="tarif.nom"/></h3>
				</div>
				<div class="panel-body">
					<p ng-bind="tarif.nb"/>
					<p>illustration<ng-pluralize count="tarif.nb" when="{'one': '', 'other': 's'}"/></p>
					<p><span ng-bind="tarif.prix"/> &euro;</span>
				</div>
			</div>
		</div>
</div>
